.header {
  background-color: orange;
  width: 94%;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header > span {
  color: linen;
  font-size: 40px;
}

.homeOptionsCont {
  height: 575px;
  padding-top: 10px;
  width: 94%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.homeOptionsCont > div,
.home {
  border: orange solid 2px;
  margin-bottom: 10px;
  color: linen;
  background-color: #ffa60075;
  width: 50%;
  border-radius: 5px;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  height: 35px;
  justify-content: center;
}

.submit {
  border: orange solid 2px;
  margin-bottom: 10px;
  color: linen;
  background-color: #ffa60075;
  width: 50%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  justify-content: center;
}
form {
  align-items: center;
}

.spellingInput {
  height: 20px;
}

.submitAnswer {
  border: orange solid 2px;
  margin: 10px 0px;
  color: linen;
  background-color: #ffa60075;
  width: 50%;
  height: 35px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > div {
  margin-bottom: 10px;
}

#displayAlarm {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  color: orange;
  flex-direction: row;
  align-content: center;
}

#displayAlarm > button {
  color: red;
  background-color: linen;
  border: red solid 3px;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 5px;
}

.resultsPageCont {
  height: 575px;
  padding-top: 10px;
  width: 94%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultsSelect > button {
  align-content: flex-end;
  color: linen;
  background-color: #ffa60075;
  font-weight: bold;
  font-size: 15px;
  margin-left: 3px;
  border-radius: 5px;
  border: orange solid 2px;
}

h2 {
  text-align: center;
  color: orange;
  text-decoration: underline;
}

.resultsList {
  background-color:  #ffa60075;
  margin: 0px 5px 0px 5px;
  border-top: solid #ffa50000;
  border-bottom: solid #ffa50000;
}

.resultTile {
  background-color: linen;
  margin: 5px 5px;
  padding: 5px
}

.resultTileHead {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.resultTileHead > div {
  text-decoration: underline;
  font-weight: bold;
  font-size: 22px;
}

.resultTileHead > img {
  height: 30px;
  width: 30px;
}

.wordDataContainer {
  margin-bottom: 2px;
  font-size: 14px;
}

.wordDataContainer > span {
  font-weight: bold;
}

.spellBeeCont {
  height: 575px;
  padding-top: 10px;
  width: 94%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.practiceCont {
  height: 575px;
  padding-top: 10px;
  width: 94%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.practiceForm {
  width: 75%;
  height: 80px;
  margin-bottom: 10px;
}

.practiceForm > textarea {
  width: 100%;
  height: 100%
}

.practiceReqs {
  display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75%;
}

.practiceReqs > span {
  margin: 0px 5px;
  padding: 3px;
  border-radius: 5px;
}

.greetingCont {
  height: 575px;
  padding-top: 10px;
  width: 94%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prompt {
  border: orange solid 2px;
  margin-top: 10px;
  color: linen;
  background-color: #ffa60075;
  width: 50%;
  border-radius: 5px;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  height: 35px;
  justify-content: center;
}

.imgCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  height: 575px;
  padding-top: 10px;
  width: 94%;
  display: flex;
  flex-direction: column;
  align-items: center;
}